* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

dialog {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: none;
    border-radius: 10px;
    text-align: center;
}


form {
    height: 300px;
    width: 300px;
    background-color: aquamarine;
    border-radius: 10px;
}

input {
    margin: 5px;
    font-size: 18px;
    padding: 5px;

}

input[type=checkbox] {
    line-height: normal;
    width: 20px;
    height: 20px;
}

input[type=submit] {
    margin-top: 15px;
}

label {
    font-size: 18px;
}

.cards-wrapper {
    width: 80%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    gap: 15px;
    margin: 15px auto;

}

.cards {
    background-color: beige;
    width: 100%;
    height: 320px;
    text-align: center;
    border-radius: 10px;
}


h3 {
    padding: 15px;
    font-size: 24px;
}

.read {
    background-color: lightgreen;
    width: 90%;
    height: 50px;
    font-size: 18px;
    font-weight: 800;
    border: none;
    border-radius: 10px;
    margin-top: 17px;
    margin-bottom: 15px;
}

.unread {
    background-color: rgb(250, 136, 136);
    width: 90%;
    height: 50px;
    font-size: 18px;
    font-weight: 800;
    border: none;
    border-radius: 10px;
    margin-top: 17px;
    margin-bottom: 15px;
}

.remove {
    background-color: rgb(191, 187, 187);
    width: 90%;
    height: 50px;
    font-size: 18px;
    font-weight: 800;
    border: none;
    border-radius: 10px;
}